<%= javascript_include_tag 'user', 'data-turbolinks-track' => true %>
<% content_for :title, "#{@user['name']} at Candeo" %>
<% content_for :head do %>
  <meta property="og:type"   content="website" />
  <meta property="og:url"    content="<%= "#{DATABASE_CONF['base_url']}/u/#{@user['username']}" %>" />
  <meta property="og:title"  content="<%=@user['name']%> at Candeo" />
  <meta property="og:image"  content="<%=@user['avatar_path']%>" />
  <meta property="og:description"  content="<%=@user['about']%>" />

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@candeo2015">
  <meta name="twitter:creator" content="@candeo2015">
  <meta name="twitter:title" content="<%=@user['name']%> at Candeo">
  <meta name="twitter:description"  content="<%=@user['about']%>">
  <meta name="twitter:image" content="<%=@user['avatar_path']%>">
<% end %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <p class="page-title text-center"><a href="/" class="page-logo-size">Candeo</a></p>

  </div>
</nav>

<div class="container margin-top-100">

   <div class="row">
     <div class="col-xs-12">

        <div class="row text-center">
           <img src="<%=@user['avatar_path']%>" alt="<%=@user['name']%>" class="img-circle profile-img">
        </div>

        <div class="row text-center">
             <h3><%=@user['name']%></h3>
        </div>

        <div class="row text-center time-ago">
            <i>"<%=@user['about']%>"</i>
        </div>

        <div class="row text-center margin-top-50 margin-bottom-25">

        <div class="col-sm-12">

          <div class="user-stats">
              <div class="col-sm-3">
                     <div class="row">
                        <span class="applause-icon user-stats-font"></span>
                     </div>
                     <div class="row">
                        <%=@user['total_appreciations']%>
                     </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="row">
                           <i class="icon-cloud-sun-inv user-stats-font"></i>
                      </div>
                      <div class="row">
                          <%=@user['total_inspires']%>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="row">
                           <span class="user-stats-font">CURRENT #</span>
                      </div>
                      <div class="row">
                          <%=@user['current_rank']%>
                      </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="row">
                           <span class="user-stats-font">HIGHEST #</span>
                      </div>
                      <div class="row">
                          <%=@user['highest_rank']%>
                      </div>
                  </div>
          </div>

        </div>

        </div>

     </div>
   </div>
  <div class="row">

    <section id="pinBoot">

    <%@user_showcases.each do |showcase|%>

       <article class="white-panel">
          <a href="/c/<%=showcase['short_id']%>">
             <%if showcase['media_type']==3%>
                  <img src="<%=showcase['media_url']%>" alt="<%=showcase['title']%>">
             <%else%>
                  <img src="<%=showcase['bg_url']%>" alt="<%=showcase['title']%>">
             <%end%>
          </a>

          <div class="col-xs-7">
            <strong><a href="/c/<%=showcase['short_id']%>"><%=showcase['title']%></a></strong>
          </div>
          <div class="col-xs-5 text-right">
              <span class="time-ago"><%=time_ago_in_words(showcase["created_at"].to_time)%> ago </span>
          </div>
          <p class="margin-top-50">

          <div class="col-xs-7">
              <div class="col-xs-3">
                     <div class="row">
                        <span class="applause-icon user-stats-font"></span>
                     </div>
                     <div class="row">
                        <%=showcase['appreciation_count']%>
                     </div>
                  </div>
                  <div class="col-xs-3">
                      <div class="row">
                           <i class="icon-cloud-sun-inv user-stats-font"></i>
                      </div>
                      <div class="row">
                          <%=showcase['inspiration_count']%>
                      </div>
                  </div>

          </div>

          <div class="col-xs-5 text-right">
              <%if showcase['media_type']==0%>
                                <i class="fa fa-pencil content-icon-font"></i>
                        <%end%>
                        <%if showcase['media_type']==1%>
                              <i class="fa fa-music content-icon-font"></i>
                        <%end%>
                        <%if showcase['media_type']==2%>
                              <i class="fa fa-film content-icon-font"></i>
                        <%end%>
                        <%if showcase['media_type']==3%>
                            <i class="fa fa-camera content-icon-font"></i>
                        <%end%>
          </div>

          </p>


      </article>

    <%end%>


    </section>



  </div>

</div>
